.fullName{
  font-style:oblique;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: rgb(73, 73, 218);
}
.bio{font-size: larger;
  text-align: center;
}    
.profession{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: blue;
  font-style: italic;
}
.Photos{
border-radius: 300px;
}

.app-header{
  height: 150px;
}
.Photo{

  border-radius: 300px;
}
.time{
text-align: center;
}
.image{
  border-radius: 300px;
}